html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2 {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
}

#container {
  min-height: 50rem;
  width: 100%;
  margin-top: 0;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
  background: url(/images/citydragonweb.jpg) no-repeat center center fixed;
}

#ankkshus {
  background-image: url(/images/Ankkshus_logo.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 4rem;
  width: 5rem;
  margin-left: 2rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 8fr .5fr;
  height: 4rem;
  border-bottom: 1px solid black;
  width: 100%;
}

nav {
  position: relative;
  top: 1.2rem;
  height: 3rem;
}

nav ul{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: .3rem;
  padding: 0;
  margin:  0;
}

nav ul li {
  list-style: none;
  font-size: 1.3rem;
  text-align: center;
}

nav ul li a {
  text-decoration: none;

}

main {
  width: 60rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
/*  background-image: url(/images/citydragonweb.jpg);*/
}

main h1 {
  border-bottom: 1px solid thistle;
}

footer {
  text-align-last: center;
}