html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  overflow-x: hidden; //I have this because of the Burns quiz causing there to be a x scroll even though there's not content. Can't figure it out just yet.
}

h1, h2 { font-weight: inherit; }

/* ------ Imports ------ */
@import 'container';
@import 'header';
@import 'main';
@import 'home';
@import 'createpost';
@import 'distillery';
@import 'videos';
@import 'quiz';
@import 'games';
@import 'login';
@import 'footer';


/* ------ Media Queries ----- */

//@media (max-width: 1450px){
//  .distillery-sidebar {
//  }
//}
  
@media (max-width: 550px){
  .container {
    background-size: 72rem;
    background-position: -29rem 23rem;
    grid-template-rows: 1fr 10fr 1fr;
    
    nav {
      grid-column: 1/3;
      
      ul {
        padding: 0;
      }
    }
    
    main {
      padding-bottom: 0;
    }

    .home {
      display: grid;
      text-align: center;
      grid-template-rows: 0fr 0.2fr;
      
      .home-options {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: .3rem;
        padding: 0;

        li {
          height: 5rem;
        }
      }
    }
    
    .distillery {
      grid-template-rows: 17vh 1fr;
      grid-template-columns: 1fr;
        
      .distillery-sidebar {
        width: inherit;
        grid-template-rows: .5fr 0.3fr 1.3fr;
        text-align: center;
        
        .distillery-sidebar-title {
          margin: 0;
        }
        
        .distillery-sidebar-main-tabs {
          height: 7vh;
        }
       }
      
      .distillery-main {
        
        
        .quiz-main {
          width: 100vw;
          padding: 0;
        }
      }
      
      .create-post {
        
        > form {
          width: 100vw;
          
          input, textarea {
            border-bottom: 1px solid black;
            background: transparent;
          }
        }
      }
    }
  }
  
  .game {
    justify-content: center;
    
    h1 {
      text-align: center;
    }
  }
  
  .video-container {
    justify-items: center;
    
    .video-container-ul {
      justify-content: center;
    }
  }
  
  .ankkshus {
    display: none;
  }

  
}


