.container {
  min-height: 50rem;
  margin-top: 0;
  margin: auto;
  display: grid;
  grid-template-rows: .5fr 9fr .5fr;
  background: url(/assets/images/citydragonweb.jpg) 0 1rem / 100% no-repeat fixed;
}