.distillery{
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr;
  margin: -2rem; //to override the main's padding
  
  .distillery-sidebar {
    background: #00000096;
    padding: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.8fr 5fr;
    width: 15rem;

    .distillery-sidebar-title {
      justify-self: start;
      width: 100%; //makes the underline extend
      height: 2rem;
      border-bottom: 1px solid white;
      margin-bottom: 0;
    }
    
    .distillery-sidebar-main-tabs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr));
      padding: 0;
      height: 3rem;
      
      li {
        list-style: none;
        border: 1px solid black;
        display: grid;
        min-width: max-content;

        a {
          text-decoration: none;
          color: navajowhite;
          display: grid;
          justify-content: center;
          align-items: center;
          width: inherit;
          height: inherit;
        }
        
        a:hover {
          background: #5c6eff;
        }
        
        a:active {
          background: #42007b;
        }
      }
    }
  }
  
  .distillery-main {
    display: grid;
  }
}