header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-content: center;
    background: linear-gradient(to right, #404485, #5864f1);
    z-index: 1;    
    
    .ankkshus {
      background-image: url(/assets/images/Ankkshus_logo_no_top.gif);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0.5rem -0.4rem;
      height: 4.8rem;
    }
    
    .ankkshus:hover {
      filter: drop-shadow(0px 2px 1px#212345); 
    }
    
    .ankkshus:active {
      filter: drop-shadow(0px 2px 1px #7c7e9b); 
    }
  
    >a {
      height: inherit;
    }
  
    > nav {
      display: grid;
      
      ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
        align-content: center;
        
        li {
          list-style: none;
          text-align: center;
          
          a {
            text-decoration: none;
            color: whitesmoke;
          }
  
          a:hover {
            color: rgb(0, 26, 255);
          }
  
          a:active {
            color: black;
          }
        }
      }
    }
  }