.video-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-content: center;
    max-height: 87vh;
    overflow: scroll;
  
    h1 {
      font-size: 2rem;
      justify-self: center;
    }
    
  p {
    background: #f5f5f582;
    width: fit-content;
  }

  .video-container-ul {
    display: flex;
    flex-flow: wrap;
//    max-height: 87vh;

    .video-container-ul-li {
      list-style: none;
      margin: 1rem;


      h3 {
        font-weight: 100;
        margin-top: 0;
        text-align: center;
      }

      img {
        width: 15rem;
        height: 9rem;
        border: .4rem solid whitesmoke;
        border-radius: 4px;
        box-shadow: 0.1rem 0.3rem 0.5rem #5a5555ab;
      }

      img:hover {
        box-shadow: 0.1rem 0.3rem 1rem .4rem #5a5555ab;
        filter: saturate(2.5);
      }

      img:active {
        box-shadow: 0.1rem 0.1rem .1rem .2rem #5a5555ab;
      }
    }
  }
}

.ccSection {
  
  > nav {
    display: grid;
    grid-template-columns: 10fr auto auto;
    
    button {
      background: pink;
      border-radius: 4px;
      outline: none;
    }

    button:hover {
      box-shadow: inset 2px 2px 2px grey;
    }

    button:active {
      box-shadow: inset 7px 7px 7px grey;
      color: white;
    }
  }
}

.ccSection article {
  text-align: center;
  flex: 0 0 20rem;
}

.ccSection iframe {
  width: 15rem;
  height:10rem;
}


span {
  position: relative;
  top: -0.5rem;
  left: .3rem;
}


